<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="bootstrap/js/jquery-2.1.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="vue.js"></script>
    <script>
        window.onload = function() {
            new Vue({
                el: "#box",
                data: {
                    mydata: [],
                    username: "",
                    age: "",
                    nowIndex: -100,
                    modalTitle: ""
                },
                methods: {
                    add: function() {
                        if (this.username != "" && this.age != "") {
                            this.mydata.push({
                                name: this.username,
                                age: this.age
                            })
                            this.username = "";
                            this.age = "";
                        }
                    },
                    deleteMsg: function(n) {
                        if (n == -2) {
                            this.mydata = [];
                        } else {
                            this.mydata.splice(n, 1);
                        }
                    },
                    btnClick: function(index, title) {
                        this.nowIndex = index;
                        this.modalTitle = title
                    }
                }
            });
        }
    </script>
</head>

<body>
    <div class="container" id="box">
        <form role="form">
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" id="username" class="form-control" placeholder="输入用户名" v-model="username">
            </div>
            <div class="form-group">
                <label for="username">年龄</label>
                <input type="text" id="age" class="form-control" placeholder="输入年龄" v-model="age">
            </div>
            <div class="form-group">
                <input type="button" value="添加" class="btn btn-primary" v-on:click="add()">
                <input type="reset" value="重置" class="btn btn-danger">
            </div>
        </form>
        <hr>
        <table class="table table-hover table-bordered">
            <caption class="h3 text-info">
                用户信息表
            </caption>
            <tr class="text-danger">
                <th class="text-center">序号</th>
                <th class="text-center">名字</th>
                <th class="text-center">年龄</th>
                <th class="text-center">操作</th>
            </tr>
            <tr class="text-center" v-for="value in mydata">
                <td>{{$index+1}}</td>
                <td>{{value.name}}</td>
                <td>{{value.age}}</td>
                <td><input type="button" value="删除" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" v-on:click="btnClick($index,'')"></td>
            </tr>
            <tr v-show="mydata.length!=0">
                <td colspan="4" class="text-right">
                    <input type="button" value="删除全部" class="btn btn-danger btn_sm" v-on:click="btnClick(-2,'全部')" data-toggle="modal" data-target="#layer">
                </td>
            </tr>
            <tr v-show="mydata.length==0">
                <td colspan="4" class="text-center text-muted">
                    <p>暂无数据……</p>
                </td>
            </tr>
        </table>

        <!--模态框 弹出框-->
        <div role="dialog" class="modal fade" id="layer" data-index="{{nowIndex}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        <h4 class="modal-title">确认删除{{modalTitle}}么？</h4>
                    </div>
                    <div class="modal-body text-right">
                        <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="deleteMsg(nowIndex)">确认</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>