html
    head
        style
    body
        div aa
            span bbb
        div(style="width:200;height:200px;background:red")
        div(style={width:"200px",height:"200px",background:"red"})
        div(class="aa left-wrap active")
        div(class=["aa","left-wrap","active"])
