<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/vue.js"></script>
    <title>条件渲染</title>
</head>

<body>
    <div id="app">
        <p v-if="flag">yes</p>
        <p v-else>no</p>
        <template v-if="ok">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
          </template>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                "flag": true,
                "ok": true
            }
        });
    </script>
</body>

</html>